:root {
	--gradient-dir1: to top right;
	--gradient-dir2: to bottom left;
	--gradient-dir3: to right top;
	--gradient-dir4: to left bottom;
	--gradient-dir5: to top left;
	--size: 5px;
	--color-tabAnimationVSCode: linear-gradient(
		-45deg,
		#fc6c8f,
		#ff2ced,
		#ffb86c,
		#2cccff,
		#20e3b2,
		#ffcc70,
		#c850c0,
		#4158d0
	);
	--color-tabAnimationVSCode2: linear-gradient(
		to top,
		#fc6c8f,
		#ff2ced,
		#ffcc70,
		#c850c0
	);
	--color-tabAnimationVSCode3: linear-gradient(45deg, #df7adf, #e339d8);
}
/* .mtk10,
.mtk15 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir4), #fc806c, #ff1bd1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mtk5,
.mtk26 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir1),
		#4dd78a,
		#20e3b2,
		#a2de6a
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-font-smoothing: auto;
}
.mtk26 {
	background-image: linear-gradient(
		var(--gradient-dir5),
		#4dd78a,
		#20e3b2,
		#a2de6a
	);
	font-style: italic;
}
.mtk23,
.mtk16 {
	color: transparent;
	background-image: linear-gradient(to bottom, #d66efd, #6a5af9);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk9,
.mtk17 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir2),
		#098dff,
		#2cccff,
		#2979ff
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk18 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir2), #b0beff, #fed9ff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-style: normal;
}
.mtk3 {
	color: transparent;
	background-image: linear-gradient(to top, #fce1d0, #ffadd6, #e39bf7);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk7 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir2), #fc6c8f, #ffb86c);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mtk8,
.mtk14 {
	color: transparent;
	background-image: linear-gradient(to right, #ffb88c, #eac394);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
} */
.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.action-item.checked
	.active-item-indicator:before {
	border: 0;
	width: 2px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(45deg, #fc6c8f, #ff2ced);
}
.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.badge
	.badge-content {
	background-image: linear-gradient(45deg, #fc6c8f, #ff2ced);
}
.monaco-editor .cursors-layer .cursor {
	width: 3px !important;
	background-image: linear-gradient(to top, #6a5af9, #d66efd, #fc6c8f, #ff2ced);
}
.mtki {
	font-style: normal;
}
/* 
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top
	> .tab-border-top-container {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
}
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top
	> .tab-border-top-container:before,
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top
	> .tab-border-top-container:after {
	content: "";
	width: var(--size);
	height: var(--size);
	position: absolute;
	border: 2px solid;
	border-image-slice: 1;
}
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top
	> .tab-border-top-container:before {
	top: 0;
	left: 0;
	border-right: 0;
	border-bottom: 0;
	border-image-source: linear-gradient(-45deg, #4dd78a, #20e3b2);
}
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top
	> .tab-border-top-container:after {
	right: 0;
	bottom: 0;
	border-top: 0;
	border-left: 0;
	border-image-source: linear-gradient(-45deg, #6a5af9, #d66efd);
}
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active:before,
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active:after {
	content: "";
	width: var(--size);
	height: var(--size);
	position: absolute;
	border: 2px solid;
	border-image-slice: 1;
}
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active:before {
	left: 0;
	bottom: 0;
	border-top: 0;
	border-right: 0;
	border-image-source: linear-gradient(-45deg, #fc6c8f, #ffb86c);
}
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active:after {
	top: 0;
	right: 0;
	border-left: 0;
	border-bottom: 0;
	border-image-source: linear-gradient(-45deg, #098dff, #2cccff);
} */

.monaco-editor .line-numbers.active-line-number {
	color: #d34698;
}

.monaco-workbench
	.part.basepanel
	> .title
	> .panel-switcher-container
	> .monaco-action-bar
	.action-item.checked:not(:focus)
	.active-item-indicator:before {
	border-top-color: 0 !important;
	background-size: 400% 400%;
	background-image: var(--color-tabAnimationVSCode);
	animation: gradient 4s ease alternate forwards;
	height: 1px;
}

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top
	> .tab-border-top-container {
	background-size: 400% 400%;
	background-image: var(--color-tabAnimationVSCode);
	animation: gradient 4s ease alternate forwards;
	height: 2px;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

/* VS code tab gradient */
/* .monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active {
	background-size: 400% 400%;
	background-image: var(--color-tabAnimationVSCode);
	animation: gradient 4s ease alternate infinite;
	height: 1px;
}

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container.active
	> .title
	.tabs-container
	> .tab
	> .tab-actions
	.action-label.codicon {
	height: 32px;
} */

/* Evondev color text */
.monaco-workbench
	.part.basepanel
	> .composite.title
	> .panel-switcher-container
	> .monaco-action-bar
	.action-item.checked
	.action-label {
	color: #e25bc7 !important;
}

.mtk10,
.mtk15 {
	color: transparent;
	background-image: linear-gradient(to bottom, #fc806c, #ff1bd1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mtk5,
.mtk26 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir1),
		#4dd78a,
		#20e3b2,
		#b3ff6c
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-font-smoothing: auto;
}
.mtk26 {
	background-image: linear-gradient(
		var(--gradient-dir5),
		#4dd78a,
		#20e3b2,
		#a2de6a
	);
	font-style: italic;
}
.mtk23,
.mtk16 {
	color: transparent;
	background-image: linear-gradient(to top, #fa6efd, #9481fd);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk9,
.mtk17 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir2),
		#098dff,
		#2bccff,
		#2979ff
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk18 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir2), #b0beff, #fed9ff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-style: normal;
}
.mtk3 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir1),
		#c29ffd,
		#ffb4dc,
		#e39bf7
	);
	background-image: linear-gradient(to top, #fce1d0, #ffadd6, #e39bf7);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk7 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir2), #fc6c8f, #ffb86c);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mtk8,
.mtk14 {
	color: transparent;
	background-image: linear-gradient(to top, #e5e054, #fffc97);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
