/* THEME EVONDEV */
:root {
	--gradient-dir1: to top right;
	--gradient-dir2: to bottom left;
	--gradient-dir3: to right top;
	--gradient-dir4: to left bottom;
	--gradient-dir5: to top left;
	--size: 5px;
	--color-tabAnimationVSCode: linear-gradient(
		-45deg,
		#fc6c8f,
		#ff2ced,
		#e9b073,
		#2cccff,
		#20e3b2,
		#ffcc70,
		#e18c9f
	);
	--color-tabAnimationVSCode2: linear-gradient(
		to top,
		#fc6c8f,
		#ff2ced,
		#ffcc70,
		#c850c0
	);
	--color-tabAnimationVSCode3: linear-gradient(45deg, #df7adf, #e339d8);
}

/* Tab left border active */
.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.action-item.checked
	.active-item-indicator:before {
	border: 0;
	width: 3px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(224deg, #fbe591, #ed2794);
}

.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.badge
	.badge-content {
	background-image: linear-gradient(224deg, #e98ba2, #fb3da6);
}

.monaco-workbench
	.part.basepanel
	> .composite.title
	> .panel-switcher-container
	> .monaco-action-bar
	.badge
	.badge-content {
	background-image: linear-gradient(224deg, #e98ba2, #fb3da6) !important;
}

.mtki {
	font-style: normal;
}

.monaco-editor .line-numbers.active-line-number {
	color: #ff66bb;
}

/* Tab border top active */
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top
	> .tab-border-top-container {
	border-top-color: 0 !important;
	background-size: 400% 400%;
	background-image: var(--color-tabAnimationVSCode);
	animation: gradient 4s ease alternate forwards;
	height: 1px;
	color: #ff66bb;
}

/* Background tab border top active */
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.tab-actions-right.sizing-fit.has-icon.tab-border-top.active {
	background-color: rgb(32 33 55) !important;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.monaco-workbench
	.part.statusbar
	> .items-container
	> .statusbar-item.remote-kind {
	background: linear-gradient(33deg, #d93a61, #3a6ddf);
}

/* Tab terminal active color */
.monaco-workbench
	.part.panel
	> .title
	> .composite-bar-container
	> .composite-bar
	> .monaco-action-bar
	.action-item.checked:not(:focus)
	.active-item-indicator:before {
	border-top-color: rgba(255, 121, 198, 0.5) !important;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

/* Cursor color */
@keyframes blink-scale {
	from {
		transform: scaleY(1);
		opacity: 1;
	}
	to {
		transform: scaleY(-1);
		opacity: 1;
	}
}
.monaco-editor .cursors-layer .cursor {
	width: 1px !important;
	background: linear-gradient(224deg, #e98ba2, #fb3da6) !important;
	transform-origin: center !important;
	animation: blink-scale 1s ease-in-out infinite !important;
}

.monaco-editor .cursors-layer.cursor-smooth-caret-animation > .cursor {
	transition: all 1.2s ease-in-out !important;
}

/* color text css */
.mtk14 {
	color: #ffcf95;
}
.mtk15 {
	color: #e947b0;
}

/* .monaco-workbench
	.part.basepanel
	> .composite.title
	> .panel-switcher-container
	> .monaco-action-bar
	.action-item.checked
	.action-label {
	color: #ff6ab5 !important;
}

.mtk10,
.mtk15 {
	color: transparent;
	background-image: linear-gradient(to bottom, #ff8c7a, #ff1bd1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 300;
}
.mtk5,
.mtk26 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir1),
		#4dd78a,
		#20e3b2,
		#b3ff6c
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-font-smoothing: auto;
	font-weight: 300;
}
.mtk26 {
	background-image: linear-gradient(
		var(--gradient-dir5),
		#4dd78a,
		#20e3b2,
		#a2de6a
	);
}
.mtk23,
.mtk16 {
	color: transparent;
	background-image: linear-gradient(to top, #fc78ff, #9f8eff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk9,
.mtk17 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir2),
		#098dff,
		#2bccff,
		#2979ff
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk18 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir2), #b0beff, #fed9ff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-style: normal;
}
.mtk3 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir1),
		#c29ffd,
		#ffb4dc,
		#e39bf7
	);
	background-image: linear-gradient(to top, #fce1d0, #ffadd6, #e39bf7);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk7 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir2), #fc6c8f, #ffb86c);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mtk8,
.mtk14 {
	color: transparent;
	background-image: linear-gradient(to top, #e5e054, #fffc97);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.mtk1,
.mtk13 {
	color: transparent;
	background: #fff;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
} */

/* VS code color */
/* .mtk1 {
	color: transparent;
	background-image: linear-gradient(to top, #f5f5f5, #8f8f8f);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.mtk3 {
	color: transparent;
	background-image: linear-gradient(to top, #d4d4d4, #8f8f8f);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.mtk6 {
	color: transparent;
	background-image: linear-gradient(to top, #229bff, #68bafd);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.mtk7 {
	color: transparent;
	background-image: linear-gradient(to top, #b5cea8, #92d56f);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.mtk9 {
	color: transparent;
	background-image: linear-gradient(to top, #d7ba7d, #ffc56f);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.mtk10 {
	color: transparent;
	background-image: linear-gradient(to top, #40abe3, #b8e6ff);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.mtk12 {
	color: transparent;
	background-image: linear-gradient(to top, #e5a184, #df8560);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.mtk16 {
	color: transparent;
	background-image: linear-gradient(to top, #efefc0, #f5f556);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.mtk17 {
	color: transparent;
	background-image: linear-gradient(to top, #4ec9b0, #7be76e);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.mtk18 {
	color: transparent;
	background-image: linear-gradient(to top, #f97bc7, #e937b3);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.mtk19 {
	color: transparent;
	background-image: linear-gradient(to top, #8aa1e3, #d1c7f1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
} */


/* ------------------------------------------------------------------------------- */
/* THEME DRACULAR */
:root {
	--gradient-dir1: to top right;
	--gradient-dir2: to bottom left;
	--gradient-dir3: to right top;
	--gradient-dir4: to left bottom;
	--gradient-dir5: to top left;
	--size: 5px;
	--color-tabAnimationVSCode: linear-gradient(
		-45deg,
		#fc6c8f,
		#ff2ced,
		#e9b073,
		#2cccff,
		#20e3b2,
		#ffcc70,
		#e18c9f
	);
	--color-tabAnimationVSCode2: linear-gradient(
		to top,
		#fc6c8f,
		#ff2ced,
		#ffcc70,
		#c850c0
	);
	--color-tabAnimationVSCode3: linear-gradient(45deg, #df7adf, #e339d8);
}

/* Background color tab main */
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top {
	background-color: rgba(189, 147, 249, 0.06) !important;
}

/* Sibal gradient */
.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.action-item.checked
	.active-item-indicator:before {
	border: 0;
	width: 3px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(224deg, #fbe591, #ed2794);
}

.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.badge
	.badge-content {
	background-image: linear-gradient(224deg, #e98ba2, #fb3da6);
}

/* Tab line gradient */
.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top
	> .tab-border-top-container {
	border-top-color: 0 !important;
	background-size: 400% 400%;
	background-image: var(--color-tabAnimationVSCode);
	animation: gradient 4s ease alternate forwards;
	height: 1px;
	color: #ff66bb;
}

/* Terminal line gradient */
.monaco-workbench
	.part.panel
	> .title
	> .composite-bar-container
	> .composite-bar
	> .monaco-action-bar
	.action-item.checked:not(:focus)
	.active-item-indicator:before {
	border-top-color: transparent !important;
	height: 1px;
	bottom: 0;
	background-size: 400% 400%;
	background-image: var(--color-tabAnimationVSCode);
	border-top-width: 0;
	animation: gradient 4s ease alternate forwards;
}

/* Background gradient remote window */
.monaco-workbench
	.part.statusbar
	> .items-container
	> .statusbar-item.remote-kind {
	color: #fff;
}

/* Tab terminal active color */
.monaco-workbench
	.part.panel
	> .title
	> .composite-bar-container
	> .composite-bar
	> .monaco-action-bar
	.action-item.checked:not(:focus)
	.active-item-indicator:before {
	border-top-color: rgba(255, 121, 198, 0.5) !important;
}

/* Cursor color */
@keyframes blink-scale {
	from {
		transform: scaleY(1);
		opacity: 1;
	}
	to {
		transform: scaleY(-1);
		opacity: 1;
	}
}
.monaco-editor .cursors-layer .cursor {
	width: 1px !important;
	background: linear-gradient(224deg, #e98ba2, #fb3da6) !important;
	transform-origin: center !important;
	animation: blink-scale 1s ease-in-out infinite !important;
}

.monaco-editor .cursors-layer.cursor-smooth-caret-animation > .cursor {
	transition: all 1.2s ease-in-out !important;
}

/* Animation gradient */
@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

/* text */
.mtk15 {
	color: transparent;
	background-image: linear-gradient(180deg, #e97663, #ff1bd1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mtk10 {
	color: transparent;
	background-image: linear-gradient(#fc806c, #ff1bd1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mtk5,
.mtk26 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir1),
		#4dd78a,
		#20e3b2,
		#a2de6a
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-font-smoothing: auto;
}
.mtk26 {
	background-image: linear-gradient(
		var(--gradient-dir5),
		#4dd78a,
		#20e3b2,
		#a2de6a
	);
	font-style: italic;
}
.mtk23,
.mtk16 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir1), #d66efd, #6a5af9);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk9,
.mtk17 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir2),
		#098dff,
		#2cccff,
		#2979ff
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk18 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir2), #b0beff, #fed9ff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-style: normal;
}
.mtk3 {
	color: transparent;
	background-image: linear-gradient(to top, #fce1d0, #ffadd6, #e39bf7);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk7 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir2), #fc6c8f, #ffb86c);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mtk11,
.mtk8,
.mtk14 {
	color: transparent;
	background-image: linear-gradient(to right, #ffb88c, #eac394);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mtki {
	font-style: normal;
}
.mtk4,
.mtk13,
.mtk1,
.mtk24 {
	font-weight: 300 !important;
}
