:root {
	--gradient-dir1: to top right;
	--gradient-dir2: to bottom left;
	--gradient-dir3: to right top;
	--gradient-dir4: to left bottom;
	--gradient-dir5: to top left;
	--size: 5px;
	--color-tabAnimationVSCode: linear-gradient(
		-45deg,
		#fc6c8f,
		#ff2ced,
		#e9b073,
		#2cccff,
		#20e3b2,
		#ffcc70,
		#e18c9f
	);
	--color-tabAnimationVSCode2: linear-gradient(
		to top,
		#fc6c8f,
		#ff2ced,
		#ffcc70,
		#c850c0
	);
	--color-tabAnimationVSCode3: linear-gradient(45deg, #df7adf, #e339d8);
}

.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.action-item.checked
	.active-item-indicator:before {
	border: 0;
	width: 3px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(224deg, #fbe591, #ed2794);
}

.monaco-workbench
	.activitybar
	> .content
	:not(.monaco-menu)
	> .monaco-action-bar
	.badge
	.badge-content {
	background-image: linear-gradient(224deg, #e98ba2, #fb3da6);
}

.monaco-workbench
	.part.statusbar
	> .items-container
	> .statusbar-item.has-background-color.left.first-visible-item {
	background-image: linear-gradient(224deg, #ba91fb, #ed2794);
}

.monaco-editor .cursors-layer .cursor {
	width: 1px !important;
	background-image: linear-gradient(224deg, #e98ba2, #fb3da6);
}

.monaco-workbench
	.part.basepanel
	> .composite.title
	> .panel-switcher-container
	> .monaco-action-bar
	.badge
	.badge-content {
	background-image: linear-gradient(224deg, #e98ba2, #fb3da6) !important;
}

.mtki {
	font-style: normal;
}

.monaco-editor .line-numbers.active-line-number {
	color: #ff66bb;
}

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.active.tab-border-top
	> .tab-border-top-container {
	background-size: 400% 400%;
	background-image: var(--color-tabAnimationVSCode);
	height: 1px;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

/* color text css */
.monaco-workbench
	.part.basepanel
	> .composite.title
	> .panel-switcher-container
	> .monaco-action-bar
	.action-item.checked
	.action-label {
	color: #ff6ab5 !important;
}

.mtk10,
.mtk15 {
	color: transparent;
	background-image: linear-gradient(to bottom, #ff8c7a, #ff1bd1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mtk5,
.mtk26 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir1),
		#4dd78a,
		#20e3b2,
		#b3ff6c
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-font-smoothing: auto;
}
.mtk26 {
	background-image: linear-gradient(
		var(--gradient-dir5),
		#4dd78a,
		#20e3b2,
		#a2de6a
	);
	font-style: italic;
}
.mtk23,
.mtk16 {
	color: transparent;
	background-image: linear-gradient(to top, #fc78ff, #9f8eff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk9,
.mtk17 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir2),
		#098dff,
		#2bccff,
		#2979ff
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk18 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir2), #b0beff, #fed9ff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-style: normal;
}
.mtk3 {
	color: transparent;
	background-image: linear-gradient(
		var(--gradient-dir1),
		#c29ffd,
		#ffb4dc,
		#e39bf7
	);
	background-image: linear-gradient(to top, #fce1d0, #ffadd6, #e39bf7);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.mtk7 {
	color: transparent;
	background-image: linear-gradient(var(--gradient-dir2), #fc6c8f, #ffb86c);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mtk8,
.mtk14 {
	color: transparent;
	background-image: linear-gradient(to top, #e5e054, #fffc97);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Setting JSON */
{
	"security.workspace.trust.untrustedFiles": "open",
	"workbench.iconTheme": "material-icon-theme",
	"editor.formatOnSave": true,
	"editor.formatOnPaste": true,
	"editor.fontWeight": "normal",
	"editor.wordWrap": "on",
	"editor.detectIndentation": false,
	"editor.inlineSuggest.enabled": true,
	"typescript.updateImportsOnFileMove.enabled": "always",
	"emmet.triggerExpansionOnTab": true,
	"javascript.updateImportsOnFileMove.enabled": "always",
	"vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
	"terminal.integrated.defaultProfile.windows": "Git Bash",
	"editor.lineHeight": 30,
	"editor.letterSpacing": 0.5,
	"explorer.confirmDelete": false,
	"html.format.wrapLineLength": 400,
	"terminal.integrated.cursorWidth": 4,
	"editor.minimap.maxColumn": 300,
	"editor.scrollbar.verticalScrollbarSize": 12,
	"prettier.useTabs": true,
	"[css]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"[javascript]": {
		"editor.defaultFormatter": "<another formatter>"
	},
	"editor.tabSize": 2,
	"[json]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"editor.fontFamily": "Cascadia Code, monospace, Consolas, 'Courier New'",
	"editor.fontSize": 16,
	"[scss]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"git.autofetch": true,
	"[typescript]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"[typescriptreact]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"update.mode": "none",
	"vscode_custom_css.imports": ["file:///C:/Users/PhatDev/css/color.css"],
	"workbench.colorCustomizations": {
		"terminal.foreground": "#dddad6",
		"terminal.ansiBlack": "#1D2021",
		"terminal.ansiBrightBlack": "#665C54",
		"terminal.ansiBrightBlue": "#0D6678",
		"terminal.ansiBrightCyan": "#8BA59B",
		"terminal.ansiBrightGreen": "#237e02",
		"terminal.ansiBrightMagenta": "#8F4673",
		"terminal.ansiBrightRed": "#FB543F",
		"terminal.ansiBrightWhite": "#FDF4C1",
		"terminal.ansiBrightYellow": "#FAC03B",
		"terminal.ansiBlue": "#00a1f9",
		"terminal.ansiCyan": "#8BA59B",
		"terminal.ansiGreen": "#95C085",
		"terminal.ansiMagenta": "#8F4673",
		"terminal.ansiRed": "#FB543F",
		"terminal.ansiWhite": "#A89984",
		"terminal.ansiYellow": "#FAC03B"
	},
	"[jsonc]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"editor.wordWrapColumn": 100,
	"tailwindCSS.experimental.classRegex": ["[a-zA-Z]*class[a-zA-Z]*='([^']+)'"],
	"chat.editor.wordWrap": "on",
	"editor.fontLigatures": true,
	"indentRainbow.colors": [
		"rgba(38, 70, 83,0.15)",
		"rgba(42, 157, 143,0.15)",
		"rgba(233, 196, 106, 0.15)",
		"rgba(244, 162, 97,0.15)",
		"rgba(231, 111, 81,0.15)",
		"rgba(231, 111, 81,0.1)",
		"rgba(231, 111, 81,0.05)",
		"rgba(231, 111, 81,0.025)"
	],
	"window.zoomLevel": 1,
	"workbench.colorTheme": "Evondev Dracula Darker Contrast"
}
